{% extends 'phpstore/base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('libs/trumbowyg/dist/ui/trumbowyg.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('libs/trumbowyg/dist/trumbowyg.min.js') }}"></script>
    <script src="{{ asset('libs/trumbowyg/dist/langs/ru.min.js') }}"></script>
    <script src="{{ asset('js/phpstore/article/article.js') }}"></script>
{% endblock %}

{% block title %}{{ article.seo_title }}{% endblock %}
{% block description %}{{ article.seo_description }}{% endblock %}
{% block keywords %}{{ article.seo_keywords }}{% endblock %}

{% block content %}
    <main>
        <div class="container">

            <div class="link-back">
                <a href="/"><i class="fas fa-chevron-left"></i> Все статьи</a>
            </div>

            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="top-bread-crumb">#}
                        {#<div class="top-pagination-bread-crumb">#}
                            {#<span>Главная</span><i class="fa fa-angle-right" aria-hidden="true"></i><span>Публикации</span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="row">
                <div class="col-md-9">
                    <div class="article">
                        <h1>{{ article.title }}</h1>
                        <div class="article-item-bread-crumb">
                            <i class="fas fa-eye"></i><span>{{ article.visits }}</span>
                            <i class="far fa-clock"></i><span>{{ article.date }}</span>
                        </div>
                        <div class="article-main-content">
                            {{ article.text|raw }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="comments">
                        <div class="title-comments">
                            <div class="row">
                                <div class="col-md-6 col">
                                    <h6><span class="mobile-device-hidden title">Комментарии </span><i class="far fa-comments"></i><span class="count">{{ comments|length }}</span></h6>
                                </div>
                                <div class="col-md-6 col">
                                    <button class="btn-new-comment" value="0">Оставить<span class="mobile-device-hidden"> комментарий</span></button>
                                    {#<i class="fa fa-angle-up arrow-down"></i>#}
                                </div>
                            </div>
                            {#<div class="block-btn-new-comment">#}
                                {#<button class="btn-new-comment" value="0">Оставить комментарий</button>#}
                                {#<i class="fa fa-angle-up arrow-down"></i>#}
                            {#</div>#}
                            <div class="clearfix"></div>
                            <div class="new-comment">
                                <div class="notice-new-comment-success">
                                    <p></p>
                                </div>
                                <div class="notice-new-comment-error">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <p>xм... чтото пошло не так. Возможно вы ввели некорректный email или ваш аккаунт был заблокирован!</p>
                                </div>
                                <form method="post">
                                    <input type="hidden" class="hidden-current-url" name="currentUrl" value="{{ article.url }}"/>
                                    <input type="hidden" class="hidden-article-id" name="articleId" value="{{ article.id }}"/>
                                    <ul>
                                        <li>
                                            <p class="text-error form-error-message-name"></p>
                                            <input type="text" placeholder="Вашe имя" class="comment-user-name"/>
                                            <span class="wrap-clear-btn-name"><i class="fas fa-times-circle btn-clear-name"></i></span>
                                        </li>
                                        <li>
                                            <p class="text-error form-error-message-email"></p>
                                            <input type="email" placeholder="Ваш email" class="comment-user-email"/>
                                            <span class="wrap-clear-btn-email"><i class="fas fa-times-circle btn-clear-email"></i></span>
                                        </li>
                                        <li>
                                            <p class="text-error form-error-message-text"></p>
                                            <div id="trumbowyg-demo" placeholder="Напишите свой комментарий здесь..." class="comment-text"></div>
                                        </li>
                                        <li>
                                            <input type="submit" class="btn-send-comment"/>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="comments-content">
                        {#<p class="notice-no-comment">У этой статьи еще нет комментариев! Будьте первым и оставьте свой отзыв или задайте свой вопрос!</p>#}
                        {% for comment in comments %}
                        <div class="comments-content-item">
                            <img src="{{ asset('img/no-avatar.png') }}" alt="1"/>
                            <span class="comment-title-user-name">{{ comment.name }}</span>
                            <i class="fas fa-ellipsis-h"></i>
                            <span class="comment-time">{{ comment.date }}</span>
                            <p>{{ comment.comment }}</p>
                        </div>
                        {% endfor %}
                        {% if comments|length > 5 %}
                        <div class="btn btn-primary ld-over-inverse btn-load-more-comments">
                            Загрузить еще
                            <div class="ld ld-ring ld-spin"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}